<app-perfil-flotante [coachData]="coachData"></app-perfil-flotante>
<div class="min-h-max">
  <div class="w-screen pt-[5rem] flex flex-col justify-center items-center space-y-4" *ngIf="coachNuevo">
    <div class="bg-[#dcdcdc] w-1/4 min-w-[344px] p-10 rounded-lg shadow-lg text-center border border-4 border-[#ff5100]">
      <div class="text-center mb-4">
        <h3 class="text-4xl font-bold text-black pb-5">Crea tu club</h3>
      </div>

  <form>
        <input id="club" name="club" type="text" autocomplete="club" required [(ngModel)]="coachData.club"
        class="mb-5 bg-[#dcdcdc] appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-600 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-[#ff5100] focus:z-10 sm:text-sm"
        placeholder="Nombre del Club">
        <input id="manager" name="manager" type="text" autocomplete="manager" required [(ngModel)]="coachData.nombre"
        class="mb-9 bg-[#dcdcdc] appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-600 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-[#ff5100] focus:z-10 sm:text-sm"
        placeholder="Nombre de Manager">

      <button (click)="registrarCoach()"
      type="submit"
      class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#ff5100] hover:bg-[#ff3100] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#ff5100]">
      Confirmar
    </button>
  </form>
    </div>
  </div>

  <div class="mt-9 flex flex-col justify-center items-center space-y-4" *ngIf="armarEquipo">
      <p class="text-[#ff5100] font-semibold text-2xl">Completa tu equipo</p>
      <div class="bg-[#f5f5f5] border-2 border-[#ff5100] pl-[3rem] pr-[3rem] rounded-lg shadow-lg text-center flex items-center h-12">
        <input class="bg-[#f5f5f5] focus:border-none focus:outline-none mr-10 ml-0" matInput placeholder="Ej. LeBron James" 
        [(ngModel)]="nombreJugador" />
      
        <button class="flex items-center" (click)="onButtonClick()">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <div class="loader" *ngIf="loading">
        <div class="ball"></div>
      </div>
        
        <app-tabla-jugadores [jugadoresEncontrados]="jugadoresEncontrados" [equipoUsuario]="equipoUsuario" 
        (confirmBuy)="handleConfirmationStatus($event)"
        *ngIf="listarTabla"></app-tabla-jugadores>
  </div>

  <div class="pt-5 flex flex-col items-center space-y-4 pb-5" *ngIf="this.listarJugadoresUsuario">
    <p class="text-[#ff5100] font-semibold text-2xl mb-9 mt-9">Tus jugadores</p>
    <div class="custom-flex-container">
        <div class="custom-table-container">
            <app-tabla-equipo [jugadores]="this.equipoUsuario[0].jugadores" class="tabla-equipo"></app-tabla-equipo>
        </div>
        <div class="custom-image-container">
            <img src="../../../assets/img/posiciones.jpg" alt="Posiciones del equipo" style="width: 510px" />
        </div>
    </div>
</div>



</div>
  