<nav class="pl-10 pt-5 pr-10" stlye="background-color: rgba(255, 255, 255, 0);">
    <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center;">
            <a routerLink="/" class="texto-degradado font-bold text-xl">BIG COACH</a>
        </div>
        <div class="md:hidden">
            <button (click)="toggleMenu()" id="menu-toggle" class="text-white hover:text-blue-300 focus:outline-none">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6">
                    <path d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>

        <!-- Navbar para usuarios LOGUEADOS -->
        <ul *ngIf="this.isLogueado" class="hidden md:flex space-x-7">
            <li><a routerLink="/" routerLinkActive="link-Activo" [routerLinkActiveOptions]="{ exact: true }" class="text-white text-lg font-semibold">Inicio</a></li>
            <li><a routerLink="/mi-equipo" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Mi equipo</a></li>
            <li><a routerLink="/equipos" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Equipos</a></li>
            <li><a routerLink="/ranking" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Ranking</a></li>
            <li><a routerLink="/perfil" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Perfil</a></li>
            <li><a (click)='cerrarSesion()' routerLinkActive="link-Activo" class="text-white text-lg font-semibold hover:cursor-pointer">Cerrar sesión</a></li>
        </ul> 
        
        <!-- Navbar para usuarios NO logueados -->
        <ul *ngIf="!this.isLogueado" class="hidden md:flex space-x-7">
            <li><a routerLink="/" routerLinkActive="link-Activo" [routerLinkActiveOptions]="{ exact: true }" class="text-white text-lg font-semibold">Inicio</a></li>
            <li><a routerLink="/equipos" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Equipos</a></li>
            <li><a routerLink="/ranking" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Ranking</a></li>
            <li><a (click)='iniciarSesion()' class="text-white text-lg font-semibold">Iniciar Sesión</a></li>
            <li><a routerLink="/sobre-nosotros" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Sobre nosotros</a></li>
        </ul> 
    </div>
</nav>


<div [ngClass]="{'hidden': !showMenu}" class="md:hidden hidden" id="mobile-menu">
    <!-- Menú hamburguesa para usuario LOGUEADO -->
    <ul *ngIf="this.isLogueado" class="py-2 px-4 space-y-2 items-center justify-center text-center" stlye="background-color: rgba(255, 255, 255, 0);">
        <li><a routerLink="/" routerLinkActive="link-Activo" [routerLinkActiveOptions]="{ exact: true }" class="text-white text-lg font-semibold">Inicio</a></li>
        <li><a routerLink="/mi-equipo" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Mi equipo</a></li>
        <li><a routerLink="/equipos" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Equipos</a></li>
        <li><a routerLink="/ranking" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Ranking</a></li>
        <li><a routerLink="/perfil" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Perfil</a></li>    
        <li><a (click)='cerrarSesion()' routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Cerrar sesión</a></li>
    </ul>

    <!-- Menú hamburguesa para usuario NO logueado -->
    <ul *ngIf="!this.isLogueado" class="py-2 px-4 space-y-2 items-center justify-center text-center" stlye="background-color: rgba(255, 255, 255, 0);">
        <li><a routerLink="/" routerLinkActive="link-Activo" [routerLinkActiveOptions]="{ exact: true }" class="text-white text-lg font-semibold">Inicio</a></li>
        <li><a routerLink="/equipos" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Equipos</a></li>
        <li><a routerLink="/ranking" routerLinkActive="link-Activo" class="text-white text-lg font-semibold">Ranking</a></li>
        <li><a (click)='iniciarSesion()' class="text-white text-lg font-semibold">Iniciar Sesión</a></li>
    </ul>
</div>