<div class="p-10 text-center">
    <h2 class="text-white">Nombre de usuario</h2>
    <h3 class="text-white">Nombre de equipo</h3>
</div>
<div class="relative">
    <div class="carousel-container">
      <div class="carousel-slides">
        <div class="carousel-slide">
          <img src="/web/src/assets/img/big-coach-icon.png" alt="Imagen 1">
          <div class="news-overlay">
            <h2>Noticia 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-slide">
          <img src="/web/src/assets/img/nba2.jpg" alt="Imagen 2">
          <div class="news-overlay">
            <h2>Noticia 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-slide">
          <img src="/web/src/assets/img/nba3.jpg" alt="Imagen 3">
          <div class="news-overlay">
            <h2>Noticia 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-slide">
          <img src="/web/src/assets/img/nba2.jpg" alt="Imagen 1">
          <div class="news-overlay">
            <h2>Noticia 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-slide">
          <img src="/web/src/assets/img/nba1.jpg" alt="Imagen 1">
          <div class="news-overlay">
            <h2>Noticia 5</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <button (click)="prevSlide()">Anterior</button>
    <button (click)="nextSlide()">Siguiente</button>
    </div>
  </div>
  