<div>
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Equipo">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Equipo </th>
        <td mat-cell *matCellDef="let element"> {{element.equipoNBA}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Pos.">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Pos. </th>
        <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
      </ng-container>

      <ng-container matColumnDef="Pts.">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Pts. </th>
        <td mat-cell *matCellDef="let element"> {{element.estadisticaHistorica[0].puntos}} </td>
      </ng-container>

      <ng-container matColumnDef="Ast.">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Ast. </th>
        <td mat-cell *matCellDef="let element"> {{element.estadisticaHistorica[0].asistencias}} </td>
      </ng-container>

      <ng-container matColumnDef="Reb.">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Reb. </th>
        <td mat-cell *matCellDef="let element"> {{element.estadisticaHistorica[0].rebotes}} </td>
      </ng-container>

      <ng-container matColumnDef="Blk.">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Blk. </th>
        <td mat-cell *matCellDef="let element"> {{element.estadisticaHistorica[0].tapones}} </td>
      </ng-container>

      <ng-container matColumnDef="Stl.">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Stl. </th>
        <td mat-cell *matCellDef="let element"> {{element.estadisticaHistorica[0].robos}} </td>
      </ng-container>

      <ng-container matColumnDef="Comprar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> <button class="bg-[#ff5100] hover:bg-[#ff3100] text-white px-4 py-2 rounded focus:outline-none"
           (click)="abrirModal()"> Comprar</button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>          
  
    <mat-paginator #paginator
    [pageSize]="5" [pageIndex]="0"
                [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
</div>