<div>
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Equipo">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Equipo </th>
        <td mat-cell *matCellDef="let element"> {{element.Equipo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Pos.">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Pos. </th>
        <td mat-cell *matCellDef="let element"> {{element.Posicion}} </td>
      </ng-container>

      <ng-container matColumnDef="Pts.">
        <th mat-header-cell *matHeaderCellDef class="text-[#ff5100]"> Pts. </th>
        <td mat-cell *matCellDef="let element"> {{element.Puntos}} </td>
      </ng-container>

     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>          
</div>