::ng-deep .mat-mdc-table {
  background-color: #f5f5f5 !important;
}

::ng-deep .mat-mdc-paginator-container {
  background-color: #f5f5f5 !important;
}

.tabla-jugadores{
  table-layout: fixed;
  width: 65%;
  display: table;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  animation: bounce 1s infinite;
  background-image: url('../../../assets/img/pelota-basket.png');
  background-size: cover;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px); /* Altura del bote */
  }
}