::ng-deep .mat-mdc-table {
  background-color:  #ffffff  !important;
}

::ng-deep .mat-mdc-paginator-container {
  background-color: #f97316 !important;
  border-top: 1px solid black;
}
::ng-deep .mat-mdc-header-row{
  background-color: #f97316 !important;
}
.tabla-jugadores{
  table-layout: fixed;
  width: 50%;
  display: table;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  animation: bounce 1s infinite;
  background-image: url('../../../assets/img/pelota-basket.png');
  background-size: cover;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px); /* Altura del bote */
  }
}

tr:hover {
  background-color: #fddece; /* Color de fondo al pasar el ratón sobre las filas */
}


.first-row {
  font-size: 30px; 
  height: 90px; 
  /* background: linear-gradient(to bottom, #f86700, #f17d2a); */
  text-transform: capitalize;
  color: #fcc200;
 
}
.second-row {
  font-size: 25px; 
  height: 70px; 
  /* background: linear-gradient(to bottom,#f17d2a, #f0924f);*/
  text-transform: capitalize;
  color: #848482;
 
}
.third-row {
  font-size: 20px; 
  height: 50px; 
 /*  background: linear-gradient(to bottom, #f0924f, #fcc1b0);*/
  text-transform: capitalize;
  color: #996515;
 
}
.gold-trophy {
  background-image: url('../../../assets/img/gold_trophy.png');
  background-size: cover;
  display: flex;
  align-items: center;
  width: 50px;
  height: 79px;
}

.silver-trophy {
  background-image: url('../../../assets/img/silver_trophy.png');
background-size: cover;
  display: flex;
  align-items: center;
  width: 50px;
  height: 70px;
}

.bronze-trophy {
  background-image: url('../../../assets/img/bronze_trophy.png');
 background-size: cover;
  display: flex;
  align-items: center;
  width: 50px;
  height: 65px;
}

