<div class="fixed z-10 inset-0 overflow-y-auto flex items-center justify-center">
  <div class="fixed inset-0 transition-opacity" aria-hidden="true">
    <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
  </div>

  <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
|
  <div class="inline-block align-middle bg-white rounded-lg text-center overflow-hidden shadow-xl transform transition-all max-w-md w-full">
    <div class="bg-white px-4 pb-3 pt-5">
      <h3 class="text-xl font-bold text-gray-900 mb-2">Confirmar compra</h3>
      <p class="text-sm text-gray-700 mb-4">¿Estás seguro de que deseas fichar a este jugador?</p>
    </div>
    <div class="bg-gray-50 px-4 flex justify-center items-center pb-5">
      <button
        type="button"
        class="inline-block bg-[#ff5100] hover:bg-[#ff3100] text-white font-medium py-2 px-4 rounded-md mr-3"
        (click)="confirmPurchase(true)"
      >
        Confirmar
      </button>
      <button
        type="button"
        class="inline-block bg-white text-gray-700 font-medium py-2 px-4 rounded-md border border-gray-300 hover:bg-gray-100"
        (click)="confirmPurchase(false)"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
