<div class="min-h-screen flex flex-col justify-center items-center">
    <div class="max-w-3xl mx-6 my-12 p-8 bg-white bg-opacity-90 shadow-lg rounded-lg text-center">
      <h2 class="texto-degradado">BIG COACH</h2>
      <p class="text-lg mb-6 text-gray-800">
        ¡Bienvenido a la experiencia definitiva de fantasy NBA! Big Coach te sumerge en el emocionante mundo del baloncesto de una manera única. Crea tu propio equipo de ensueño, elige a tus jugadores favoritos de la NBA y compite contra amigos y aficionados de todo el mundo. Con estadísticas en tiempo real, gestión estratégica y competencias apasionantes, Big Coach te permite vivir el baloncesto de una manera completamente nueva. ¿Tienes lo que se necesita para convertirte en un manager de fantasía legendario? Regístrate ahora y demuestra tu conocimiento de la NBA
      </p>
      <h3 class="text-2xl font-bold mb-4 text-gray-800">Reglas del juego</h3>
      <p class="text-lg mb-6 text-gray-800"> 
        Con Big Coach, tu conocimiento del juego y tu habilidad para tomar decisiones estratégicas se pondrán a prueba. ¿Puedes construir el equipo perfecto y llevarlo a la victoria?
      </p>
      <ol class="text-left text-lg mb-6 text-gray-800">
        <li class="mb-2">
            <span class="font-bold text-gray-800"> 1. </span> Cada equipo esta conformado por 5 jugadores que el usuario debe comprar para su club.
        </li>
        <li class="mb-2">
            <span class="font-bold text-gray-800"> 2. </span> Dentro del equipo no puede haber más de 1 jugador perteneciente a un mismo equipo de la NBA.
        </li>
        <li class="mb-2">
            <span class="font-bold text-gray-800"> 3. </span> Dentro del equipo no puede haber más de 1 jugador de una misma posición.
        </li>
      </ol>
      <h3 class="text-2xl font-bold mb-4 text-gray-800">Calculo de puntaje</h3>
      <p class="text-lg mb-6 text-gray-800"> 
        En Big Coach, hemos desarrollado un sistema de puntaje sólido y emocionante para garantizar que tu experiencia de fantasy NBA sea aún más inmersiva y desafiante. Nuestro sistema de puntuación está diseñado para reflejar de manera precisa el desempeño de los jugadores en el partido.
    </p>
      <ol class="text-left text-lg mb-6 text-gray-800">
        <li class="mb-2">
            <span class="font-bold text-gray-800"> 1.  Puntos:</span> Cada punto anotado por tu jugador en el partido suma 1 punto a tu puntaje. Celebra cada canasta como si estuvieras en la cancha.
        </li>
        <li class="mb-2"> 
            <span class="font-bold text-gray-800"> 2.  Rebotes:</span> Los rebotes son esenciales en el baloncesto, y en Big Coach, los valoramos. Ganas 1.2 puntos por cada rebote que tu jugador capture durante el partido.
        </li>
        <li class="mb-2"> 
            <span class="font-bold text-gray-800"> 3.  Asistencias:</span> La magia de las asistencias también se refleja en nuestro sistema. Cada asistencia que tu jugador entregue en el partido suma 1.5 puntos a tu puntaje.
        </li>
        <li class="mb-2"> 
            <span class="font-bold text-gray-800"> 4.  Robos:</span> Los robos son una exhibición de destreza defensiva. Recompensamos esto con un puntaje de 3 puntos por cada robo que tu jugador logre en el partido.    
        </li>
        <li class="mb-2"> 
            <span class="font-bold text-gray-800"> 5.  Bloqueos:</span> La defensa es fundamental, y los bloqueos son una parte esencial. Ganas 3 puntos por cada bloqueo que tu jugador realice durante el partido.
        </li>
      </ol>
      <h3 class="text-2xl font-bold mb-4 text-gray-800">¿Listo para el Desafío?</h3>
    </div>
  </div>
  