<div class="text-center max-w-3xl mx-auto mt-9 mb-4">
    <div class="grid grid-cols-3 items-center justify-items-stretch border-2 border-orange-500 bg-orange-500 mx-auto p-2 mb-3 rounded-md">
        <div class="grid justify-items-start col-span-2">
            <p class="text-lg font-bold pl-4">Nombre jugador</p>
            <p class="text-base pl-4">Nombre de Manager</p>
        </div>
        <div class="text-right col-span-1">
            <p class="text-lg pr-4">Ranking: 9</p>
        </div>
    </div>
</div>
