<div class="background-container">
	<div class="py-[5%] w-2/5 justify-center items-left flex flex-col text-left pl-10 pt-[]">
		<div class="content-container text-center" class="background-image">
			<h1 class="texto-degradado"> BIG COACH</h1>
		</div>
			<h2 class="font-black text-2xl pb-2"> NBA FANTASY APP</h2>
			<p class="font-medium pb-3"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, dicta asperiores. Praesentium quae aspernatur similique repudiandae ut cupiditate expedita possimus corporis fuga nihil voluptas, repellat, nulla laborum natus eos nemo.</p>
			<button (click)='registrarUsuario()' mat-button class="boton-registrar font-bold">Registrate ahora</button>
	</div>
</div>