
.content-container {
    background-color: rgba(255, 255, 255, 0); 
    padding: 20px;
  }

* {
    color: white;
}

.boton-registrar{
  background: linear-gradient(to right, orange, red);
  color:black;
  font-weight: 500;
  width: 33.333333%;
}

.texto-degradado {
  font-family: 'MainFont', sans-serif;
  background: linear-gradient(to right, orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 700%;
  font-size: 15vh;
  font-weight: 900;
}

@media screen and (max-width: 1110px) {
  .boton-registrar {
    width: 50%;
  }
}

@media screen and (max-width: 810px) {
    .boton-registrar {
      width: 75%;
  }
}

@media screen and (max-width: 550px) {
    .boton-registrar {
      width: 100%;
      padding: 20%;;
    }
}
  